@font-face {
  font-family: Raleway;
  src: url("./Fonts/Raleway-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: white;
  display: flex;
  width: 100vw;
  height: 60px;
  font-family: Raleway;
  border-bottom: 1px solid rgb(47, 47, 47);
  gap: 30px;
}

.nav div {
  font-size: 29px;
  padding-right: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav li {
  list-style: none;
  display: flex;
  align-items: center;
  color: Black;
}

.nav li a {
  text-decoration: none;
  color: inherit;
}

.nav li a:hover {
  color: blue;
}

.header {
  background-image: url("./BIlder/pic1.jpg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: Raleway;
}

.header div h1 {
  color: White;
  flex-shrink: 0;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  height: 70px;
  margin-top: 380px;
  margin-bottom: 30px;
}

.header div h3 {
  color: white;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  padding-bottom: 30px;
}

.btn a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn a:nth-of-type(1) {
  border: 2px solid #ffffff;
  padding: 15px 40px 15px 40px;
  color: white;
  font-size: 12px;
  display: inline-flex;
}

.btn a:nth-of-type(2) {
  padding: 18px 70px 18px 60px;
  background-color: #745cf9;
  color: white;
  font-size: 12px;
  display: inline-flex;
}

.btn a:hover:nth-of-type(2) {
  background-color: #2d0ba8;
}
.btn a:hover:nth-of-type(1) {
  background-color: rgb(255, 255, 255);
  color: black;
}
